<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kkyeer.study.spring.dao.TxTestMapper">
    <resultMap id="BaseResultMap" type="com.kkyeer.study.spring.TxTestPO">
    </resultMap>

    <!-- 新增批量插入语句 -->
    <insert id="oneSQL">
        INSERT INTO tx_test (version, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.version}, #{item.create_time})
        </foreach>
    </insert>
</mapper>